<kendo-card width="100%">
    <kendo-card-body>
       
        <h4 kendoCardTitle>Recommended deals for you</h4>
        <svg class="icon  icon--plus left-arrow" width="33" height="40" xmlns="http://www.w3.org/2000/svg"  [style.visibility]="visibility1">
            <path d="M10 0 L30 20 L10 40 L6 34 L20 20 L6 6 L10 0" (click)="check()"/>
        </svg>
        <svg class="icon  icon--plus right-arrow" width="33" height="40"  transform="rotate(180)" xmlns="http://www.w3.org/2000/svg" [style.visibility]="visibility2" (click)="check2()">
            <path d="M10 0 L30 20 L10 40 L6 34 L20 20 L6 6 L10 0"  />
        </svg>
      
                <div class="imagecollection">
                   
                <img  class="cardimg" src="https://bit.ly/2cJjYuB" alt="" draggable="false" >
                <img  class="cardimg" src="https://bit.ly/2cJjYuB" alt="" draggable="false" >
                <img  class="cardimg" src="https://bit.ly/2cJjYuB" alt="" draggable="false" >
                <img  class="cardimg" src="https://bit.ly/2cJjYuB" alt="" draggable="false" >
                <img  class="cardimg" src="https://bit.ly/2cJjYuB" alt="" draggable="false" >
                <img  class="cardimg" src="https://bit.ly/2cJjYuB" alt="" draggable="false" >
                <img  class="cardimg" src="https://bit.ly/2cJjYuB" alt="" draggable="false" >
                <img  class="cardimg" src="https://bit.ly/2cJjYuB" alt="" draggable="false" >
                <img  class="cardimg" src="https://bit.ly/2cJjYuB" alt="" draggable="false" >
                <img  class="cardimg" src="https://bit.ly/2cJjYuB" alt="" draggable="false" >
                <img  class="cardimg" src="https://bit.ly/2cJjYuB" alt="" draggable="false" >
                </div>
    </kendo-card-body>
</kendo-card>